.daily_evolution {
    .title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    .line_graph {
        display: block;

        &.animate {
            path {
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
            }
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .daily_evolution {
        .line_graph {
            &.animate {
                path {
                    animation: dash 3s linear forwards;
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 1000;
                }
            }
        }
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
