.five_day_forecast {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;

    .loader {
        align-self: center;
    }

    .error {
        font-size: 1.25rem;
        line-height: 1.2;
        align-self: center;
    }

    .title {
        color: var(--primary);
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    .wrapper {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        justify-content: center;

        .card {
            background: linear-gradient(180deg, rgba(196, 196, 196, 0%) 0%, rgba(196, 196, 196, 8.77%) 60%, rgba(196, 196, 196, 20%) 100%);
            border-radius: 1.5rem;
            padding-bottom: 2rem;
            padding-inline: 1rem;
            padding-top: 10rem;

            .date {
                font-size: 1.5rem;
                font-weight: 900;
                line-height: 1.2;
                margin-bottom: 0.5rem;
            }

            .degree {
                align-items: flex-end;
                display: flex;
                flex-flow: row wrap;
                gap: 1rem;
                margin-bottom: 1rem;

                .high {
                    color: var(--primary);
                    font-size: 3rem;
                    font-weight: 900;
                }

                .low {
                    font-size: 2.4rem;
                    font-weight: 900;
                    line-height: 1.2;
                }
            }

            .summary {
                font-size: 1.125rem;
                font-weight: 900;
                line-height: 1.2;
            }

            .icon {
                display: block;
                height: 5rem;
                position: relative;
                width: 5rem;

                img {
                    object-fit: contain;
                }
            }
        }
    }
}



