.current_weather {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5rem;

    .error {
        font-size: 1.25rem;
        line-height: 1.2;
    }

    .title {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .degree_wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .degree {
            color: var(--primary);
            font-size: 6rem;
            line-height: 1.16;
        }

        .button_group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: space-around;

            .is_active {
                background-color: var(--primary);
                color: var(--background);
            }
        }
    }

    .summary {
        color: var(--foreground);
        font-size: 1.5rem;
        line-height: 1.16;
    }
}
