.current_weather {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5rem;

    .title {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.2;
    }

    .degree_wrapper {
        .degree {
            color: var(--primary);
            font-size: 6rem;
            line-height: 1.16;
        }
    }

    .summary {
        color: var(--foreground);
        font-size: 1.5rem;
        line-height: 1.16;
    }
}
