.page {
    .dark {
        background-color: var(--background-dark);
    }

    .city_name_form_section {
        align-items: center;
        display: flex;

        form {
            margin-inline: auto;
            max-width: 600px;
        }
    }
}
