.page {
    section {
        padding-block: 5rem;

        &.dark {
            background-color: var(--background-dark);
        }
    }

    .city-name-form-section {
        display: flex;
        align-items: center;

        form {
            max-width: 600px;
            margin-inline: auto;
        }
    }
}
